.pay-with-pix-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    padding: 10px;
}

.pay-with-pix-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.pay-with-pix-container p {
    margin-bottom: 0;
    color: #e1e1e1;
}

.pay-with-pix-container img {
    height: 30px;
    margin-left: 10px;
}