.info-card-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #eee;
    border: 3px solid #666;
    border-radius: 20px;
    margin-bottom: 10px;
}

.info-card-img-container {
    width: 100px;
}

.info-card-img-container img {
    width: 100%;
}

.info-card-description-container h4 {
    color: #6a6a6a;
    font-size: 16px;
}