.footer-copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.powered-by h4 {
    align-content: start;
}

.technologies-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.github-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}



.tech-icons {
    width: 200px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 992px) {
    .footer-copyright {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    
}