.admin-brand-item-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}

.admin-brand-item-img {
  width: 120px;
}

.admin-brand-item-img img {
  width: 100%;
}

.admin-brand-item-description {
  width: 100%;
  margin-left: 10px;
}

.admin-brand-item-description h2 {
  font-size: 14px;
}

.admin-brand-item-button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 10px;
}

.admin-brand-item-button-container button {
  margin-bottom: 5px;
  height: 30px;
  width: 60px;
  font-size: 12px;
}

@media (min-width: 576px) {
  .admin-brand-item-container {
    width: 100%;
  }

  .admin-brand-item-description h2 {
    font-size: 20px;
  }

  .admin-brand-item-button-container {
    width: 160px;
  }

  .admin-brand-item-button-container button {
    margin-bottom: 5px;
    height: 40px;
    width: 100%;
    font-size: 16px;
  }
}
