.category-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.category-card-name {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.category-card-name h2 {
    word-wrap: normal;
    font-size: 16px;
 }

.category-card-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    max-width: fit-content;
    margin: auto;
}

.category-card-img img {
    width: 100%;
    max-width: fit-content;
}

@media (min-width: 768px) {
    .category-card-name h2 {
        font-size: 20px;
     }
}