.highligths-content {
    width: 100%;
    background-color:#FFF;
    margin: auto;
}

.highlights-title {
    margin-bottom: 50px;
}

.highligths-container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}
