.admin-sidebar-container {
    min-width: 60px ;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: calc(100vh - 70px);
    background-color: #25282b;
    color: #D6D7D9;
}

.sidebar-icon-toggle {
    background-color: #343a40;
    color: #D6D7D9;
    width: 30px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    appearance: none;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    font: inherit;
    outline: inherit;
}

.sidebar-icon {
    width: 30px;
    margin-top: 10px;
    text-align: center;
}

.is-closed {
    width: 60px;
    transition: 200ms;
}
.is-open {
    width: 200px;
    transition: 200ms;
}

.admin-sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}

.admin-sidebar-items li {
    width:max-content;
}

.sidebar-item {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    right: 15px;
    margin-bottom: 30px;
}

.sidebar-item p {
    margin-top: 20px;
    margin-left: 10px;
}

.sidebar-item-closed {
    display: none;
}

