@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans";
  font-weight: bold;
  margin-bottom: 0;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

ul li {
  list-style: none;
}
